* {
      margin: 0;
      padding: 0;
}

body {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
}

.container {
      background-color: #141414;
      height: 100vh;
      min-width: 325px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 25px;
}

.profile {
      width: 426px;
      padding: 44px;
      background-color: hsl(0, 0%, 12%);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
}

.profile_info {
      display: flex;
      flex-direction: column;
      align-items: center;
}

.avatar {
      width: 98px;
      height: 98px;
      border-radius: 49px;
      margin-bottom: 40px;
}

.name {
      color: #fff;
      font-size: 32px;
      margin-bottom: 8px;
      text-align: center;
}

.place {
      color: hsl(75, 94%, 57%);
      margin-bottom: 20px;
      font-size: 18px;
}

.slogan {
      color: #989898;
      margin-bottom: 18px;
}

ul {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 18px;
}

ul li {
      list-style: none;
      
}

.link {
      text-decoration: none;
      display: block;
      color: white;
      font-weight: 600;
      background-color: #333333;
      text-align: center;
      padding: 20px 0;
      border-radius: 10px;
}

.link:hover {
      background-color: hsl(75, 94%, 57%);
      color: #333333;
      transition: background-color 0.1s linear;
}

.link:focus {
      background-color: hsl(75, 94%, 57%);
      color: #333333;
      transition: background-color 0.1s linear;
}

.attribution {
      background-color: #141414;
      color: hsl(230, 9%, 87%);
      font-size: 11px;
      text-align: center;
      padding-bottom: 10px;
}

.attribution a {
      color: hsl(230, 9%, 87%);
}


@media (max-width: 375px) {
    .container {
        max-width: 320px;
    }
}